@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;

  body {

    a {
      text-decoration: none;
      color: #222222;
    }

    #outer-container {

      #inner-container {

        header {
          display: grid;
          grid-template-columns: 1fr 70px 70px 70px 70px;
          grid-template-rows: 50px;
          grid-template-areas: ". github linkedin resume portfolio";

          .header-link {
            justify-self: center;
            align-self: center;
            text-transform: capitalize;
          }

          #github {
            grid-area: github;
          }

          #linkedin {
            grid-area: linkedin;
          }

          #resume {
            grid-area: resume;
          }

          #portfolio {
            grid-area: portfolio;
          }
        }
      }
    }
  }
}
